
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 24rem;
}.frame-1717-iH9 {
  display: flex;
  align-items: center;
  width: 100%;

  .ellipse-21-GpT {
    flex-shrink: 0;
    margin-right: 4.1rem;
    width: 5.2rem;
    height: 5.2rem;
    background-color: #d9d9d9;
    border-radius: 2.6rem;
  }
  .lugar-de-visualizacin-cNX {
    line-height: 1.6428571429;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 1.1rem;
    font-size: 1.4rem;
    font-weight: 400;
  }
}
