
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.registrarse-UR9 {
  box-sizing: border-box;
  padding: 0.1rem 0rem 8.55rem 0rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: #ffffff;

  .frame-18-Q3u {
    margin: 0rem 0.2rem 8.9rem 0rem;
    box-sizing: border-box;
    width: calc(100% - 0.2rem);
    align-items: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    padding: 0.55rem 5.2rem 0.55rem 2.4rem;
    height: 5.8rem;
    display: flex;
    flex-shrink: 0;

    .frame-17-Vr3 {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0.2rem 112.5rem 0.2rem 0rem;
      height: calc(100% - 0.4rem);

      .group-3-E2w {
        height: calc(100% - 2.6rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 1.3rem 1.8rem 1.3rem 0rem;
        width: 1.9rem;
        row-gap: 0.4rem;

        .rectangle-10-Lrf {
          width: 100%;
          height: 0.3rem;
          background-color: rgba(255, 61, 0, 0.5799999833);
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-11-gQj {
          width: 100%;
          height: 0.3rem;
          background-color: rgba(255, 61, 0, 0.5799999833);
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-12-2jV {
          border-radius: 1rem;
          flex-shrink: 0;
          width: 100%;
          height: 0.3rem;
          background-color: rgba(255, 61, 0, 0.5799999833);
        }
      }
      .group-2-kQb {
        margin: 0.4rem 1.8rem 0rem 0rem;
        width: 3.6rem;
        height: 3.5rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .line-1-U5h {
        width: 0rem;
        height: 0.1rem;
        background-color: #ff3d00;
        flex-shrink: 0;
        margin: 0.05rem 1.8rem 0rem 0rem;
      }
      .patitas-perdidas-o7y {
        font-size: 1.6rem;
        line-height: 1.33;
        font-style: italic;
        color: #000000;
        flex-shrink: 0;
        max-width: 6.5rem;
        display: flex;
        font-weight: 500;
        font-family: Exo, 'Source Sans Pro';
      }
    }
    .frame-16-JaX {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      height: 100%;

      .inicia-sesin-4Zh {
        justify-content: center;
        font-weight: 400;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 0.9rem;
        display: flex;
        line-height: 1.33;
        text-decoration-line: underline;
        color: #000000;
        flex-shrink: 0;
        align-items: center;
        font-size: 1.4rem;
      }
      .ellipse-9-Asd {
        width: 4.7rem;
        height: 4.7rem;
        background-color: #d9d9d9;
        border-radius: 2.35rem;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-ahtw-FPH {
    margin: 0rem 10.552rem 0rem 18rem;
    width: calc(100% - 28.5521rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .auto-group-cbdd-yaB {
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 21.1rem;
      width: 47.5rem;
      align-items: center;
      display: flex;

      .rectangle-5-7Ab {
        object-fit: cover;
        vertical-align: top;
        border-radius: 3rem;
        flex-shrink: 0;
        margin-bottom: 3.65rem;
        width: 47.5rem;
        height: 45.5rem;
      }
      .te-ayudamos-a-buscar-a-tu-mascota-EW7 {
        font-size: 1.6rem;
        font-family: Exo, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        font-weight: 700;
        line-height: 1.33;
        color: #ff3d00;
        white-space: nowrap;
        margin-bottom: 0.5rem;
      }
      .conoce-ms-kDZ {
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        text-decoration-line: underline;
        flex-shrink: 0;
        margin: 0rem 0.1rem 17.4rem 0rem;
        line-height: 1.33;
        color: #706e6e;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-w6w5-eZq {
        margin: 0rem 3.7rem 0rem 3.6rem;
        width: calc(100% - 7.3rem);
        display: flex;
        column-gap: 4.2rem;
        align-items: center;
        flex-shrink: 0;

        .href-item-MUF {
          display: flex;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.33;
          text-decoration-line: underline;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          color: #706e6e;
        }
        .href-item-V4f {
          font-size: 1.6rem;
          text-decoration-line: underline;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          line-height: 1.33;
          color: #706e6e;
          font-family: Exo, 'Source Sans Pro';
        }
        .href-item-cuy {
          line-height: 1.33;
          color: #706e6e;
          white-space: nowrap;
          display: flex;
          font-weight: 400;
          text-decoration-line: underline;
          font-family: Exo, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 1.6rem;
        }
        .href-item-9uu {
          font-family: Exo, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          line-height: 1.33;
          text-decoration-line: underline;
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 400;
          color: #706e6e;
        }
      }
    }
    .group-1-VD5 {
      backdrop-filter: blur(0.2rem);
      background-color: rgba(47, 45, 99, 0.1899999976);
      border-radius: 1rem;
      flex-shrink: 0;
      margin-bottom: 1.0311rem;
      width: 54.0479rem;
      height: 73.8189rem;
      position: relative;

      .registrarse-Qqq {
        height: 7rem;
        font-weight: 700;
        font-family: Exo, 'Source Sans Pro';
        top: 4.7rem;
        text-align: center;
        font-size: 5.2rem;
        line-height: 1.33;
        color: #ff3d00;
        width: 27.7rem;
        position: absolute;
        left: 14.0328rem;
        white-space: nowrap;
      }
      .al-registrarte-aceptas-nuestras-condiciones-nuestra-poltica-de-privacidad-y-nuestra-poltica-de-cookies-W8B {
        width: 31.6rem;
        height: 3.1rem;
        position: absolute;
        left: 10.3581rem;
        display: flex;
        justify-content: center;
        font-weight: 400;
        line-height: 1.1499023438;
        top: 58.6013rem;
        align-items: center;
        font-size: 1.2rem;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';

        .al-registrarte-aceptas-nuestras-condiciones-nuestra-poltica-de-privacidad-y-nuestra-poltica-de-cookies-W8B-sub-0 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
        }
        .al-registrarte-aceptas-nuestras-condiciones-nuestra-poltica-de-privacidad-y-nuestra-poltica-de-cookies-W8B-sub-1 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2575;
          text-decoration-line: underline;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
        }
        .al-registrarte-aceptas-nuestras-condiciones-nuestra-poltica-de-privacidad-y-nuestra-poltica-de-cookies-W8B-sub-2 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
        }
        .al-registrarte-aceptas-nuestras-condiciones-nuestra-poltica-de-privacidad-y-nuestra-poltica-de-cookies-W8B-sub-3 {
          font-weight: 400;
          line-height: 1.2575;
          text-decoration-line: underline;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          font-size: 1.2rem;
        }
        .al-registrarte-aceptas-nuestras-condiciones-nuestra-poltica-de-privacidad-y-nuestra-poltica-de-cookies-W8B-sub-4 {
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          font-size: 1.2rem;
        }
        .al-registrarte-aceptas-nuestras-condiciones-nuestra-poltica-de-privacidad-y-nuestra-poltica-de-cookies-W8B-sub-5 {
          font-family: Arial, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2575;
          text-decoration-line: underline;
          color: #000000;
        }
      }
      .auto-group-qrjd-G4j {
        align-items: center;
        width: 21.6781rem;
        height: 1.8rem;
        position: absolute;
        left: 15.7287rem;
        top: 64.493rem;
        display: flex;

        .tienes-una-cuenta-BhV {
          white-space: nowrap;
          margin: 0rem 1.578rem 0rem 0rem;
          display: flex;
          color: #ffffff;
          font-weight: 400;
          line-height: 1.2575;
          font-family: Arial, 'Source Sans Pro';
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-size: 1.4rem;
        }
        .iniciar-sesin-gu9 {
          margin-top: 0rem;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 1.2575;
          white-space: nowrap;
          font-size: 1.4rem;
          font-weight: 700;
          color: #ff3d00;
          font-family: Arial, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-exbu-CsV {
        width: 37.7973rem;
        height: 1.8rem;
        position: absolute;
        left: 8.0533rem;
        top: 12.9113rem;
        display: flex;
        align-items: center;

        .rectangle-6-8WF {
          flex-shrink: 0;
          margin: 0.09rem 1.597rem 0rem 0rem;
          width: 11.5rem;
          height: 0.0896rem;
          background-color: #000000;
        }
        .o-iniciar-sesin-con-3t7 {
          display: flex;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.9006rem;
          align-items: center;
          line-height: 1.2575;
          font-family: Arial, 'Source Sans Pro';
        }
        .rectangle-7-N9h {
          margin-top: 0.1792rem;
          width: 11.5rem;
          height: 0.0896rem;
          background-color: #000000;
          flex-shrink: 0;
        }
      }
      .auto-group-a4ew-77H {
        width: 37.6rem;
        height: 4.4rem;
        position: absolute;
        left: 8rem;
        top: 18.2648rem;
        display: flex;
        align-items: center;

        .frame-4-q3H {
          margin-right: 1.6rem;
          height: 100%;
          align-items: center;
          background-size: 100% 100%;
          background-position: center;
          background-image: url('REPLACE_IMAGE:79fa4c70a1345203b1af1854b7d96e1b6f6af4a6');
          box-sizing: border-box;
          padding: 1.05rem 4.715rem 1.05rem 1.273rem;
          display: flex;
          background-repeat: no-repeat;
          border-radius: 1rem;
          flex-shrink: 0;

          .recurso-1red-MXR {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 3.495rem;
            width: 2.3172rem;
            height: 2.3rem;
          }
          .facebook-t1Z {
            margin-top: 0rem;
            display: flex;
            color: #ffffff;
            font-family: Exo, 'Source Sans Pro';
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.33;
            white-space: nowrap;
          }
        }
        .google-BFZ {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.05rem 5.88rem 1.05rem 1.278rem;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 1rem;

          .recurso-2red-7Q7 {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 3.9252rem;
            width: 2.3172rem;
            height: 2.3rem;
            object-fit: cover;
          }
          .google-SxB {
            margin-bottom: 0rem;
            display: flex;
            font-size: 1.4rem;
            line-height: 1.33;
            color: #706e6e;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            flex-shrink: 0;
          }
        }
      }
      .boton-formularios-Zmu {
        font-weight: 700;
        border-radius: 1rem;
        width: 38.137rem;
        display: flex;
        font-size: 1.6rem;
        line-height: 1.33;
        font-family: Exo, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        background-color: #ff3d00;
        height: 4.4rem;
        position: absolute;
        left: 7.5315rem;
        top: 52.1682rem;
        color: #ffffff;
      }
      .input-chico-39h-3BH {
        line-height: 1.33;
        font-family: Exo, 'Source Sans Pro';
        border: solid 0.05rem #000000;
        background-color: rgba(217, 217, 217, 0.0599999987);
        width: 38.1rem;
        position: absolute;
        left: 7.5267rem;
        font-weight: 300;
        padding: 0.85rem 1.695rem 0.85rem 1.695rem;
        top: 25.6665rem;
        font-size: 1.6rem;
        white-space: nowrap;
        border-radius: 1rem;
        box-sizing: border-box;
        height: 3.9rem;
        display: flex;
        color: #000000;
      }
      .input-chico-39h-fTZ {
        top: 41.1665rem;
        border: solid 0.05rem #000000;
        width: 38.1rem;
        height: 3.9rem;
        white-space: nowrap;
        line-height: 1.33;
        font-family: Exo, 'Source Sans Pro';
        left: 7.5267rem;
        display: flex;
        color: #000000;
        box-sizing: border-box;
        padding: 0.85rem 1.695rem 0.85rem 1.695rem;
        font-weight: 300;
        background-color: rgba(217, 217, 217, 0.0599999987);
        border-radius: 1rem;
        position: absolute;
        font-size: 1.6rem;
      }
      .input-chico-39h-VxP {
        font-size: 1.6rem;
        font-family: Exo, 'Source Sans Pro';
        top: 30.7665rem;
        line-height: 1.33;
        color: #000000;
        white-space: nowrap;
        box-sizing: border-box;
        height: 3.9rem;
        position: absolute;
        left: 7.6267rem;
        background-color: rgba(217, 217, 217, 0.0599999987);
        padding: 0.85rem 1.691rem 0.85rem 1.691rem;
        width: 38rem;
        display: flex;
        border: solid 0.05rem #000000;
        font-weight: 300;
        border-radius: 1rem;
      }
      .input-chico-39h-Ly1 {
        display: flex;
        font-family: Exo, 'Source Sans Pro';
        padding: 0.85rem 1.695rem 0.85rem 1.695rem;
        font-weight: 300;
        position: absolute;
        font-size: 1.6rem;
        color: #000000;
        white-space: nowrap;
        background-color: rgba(217, 217, 217, 0.0599999987);
        box-sizing: border-box;
        width: 38.1rem;
        height: 3.9rem;
        left: 7.5267rem;
        top: 46.2665rem;
        line-height: 1.33;
        border: solid 0.05rem #000000;
        border-radius: 1rem;
      }
      .auto-group-bxyx-CEX {
        left: 7.5267rem;
        top: 35.9665rem;
        width: 38.1rem;
        height: 3.9rem;
        position: absolute;

        .component-2-L5q {
          width: 38rem;
          height: 100%;
          display: flex;
          align-items: center;

          .auto-group-rr51-gQb {
            box-sizing: border-box;
            height: 100%;
            background-color: rgba(217, 217, 217, 0.0599999987);
            margin-right: 0rem;
            padding: 0.85rem 0.874rem 0.85rem 0.874rem;
            width: 7.7166rem;
            border: solid 0.05rem #000000;
            border-radius: 1rem 0 0 1rem;
            flex-shrink: 0;

            .frame-10-1Ss {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;

              .peru-1-ZjH {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0rem;
                width: 2.0314rem;
                height: 2.0314rem;
              }
              .item-51-Jgs {
                flex-shrink: 0;
                margin-right: 0.4461rem;
                display: flex;
                line-height: 1.33;
                color: #000000;
                font-family: Exo, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.6rem;
                font-weight: 400;
              }
              .polygon-1-1LP {
                border-radius: 0.05rem;
                flex-shrink: 0;
                margin-bottom: 0rem;
                width: 0.8917rem;
                height: 0.7712rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .auto-group-4alb-Gn7 {
            height: 100%;
            display: flex;
            line-height: 1.33;
            font-family: Exo, 'Source Sans Pro';
            background-color: rgba(217, 217, 217, 0.0599999987);
            width: 30.2834rem;
            color: #000000;
            flex-shrink: 0;
            padding: 0.85rem 2.131rem 0.85rem 2.131rem;
            border-radius: 0 1rem 1rem 0;
            border: solid 0.05rem #000000;
            font-size: 1.6rem;
            font-weight: 300;
            white-space: nowrap;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
