
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 45.3rem;
}.reportes-ee7 {
  background-color: #f68866;
  box-sizing: border-box;
  padding: 7.3rem 4.8rem 4.5rem 4.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

  .rectangle-1099-XrK {
    border-radius: 3rem;
    flex-shrink: 0;
    margin-bottom: 4.15rem;
    width: 30.9rem;
    height: 25rem;
    object-fit: cover;
    vertical-align: top;
  }
  .no-estas-solote-ayudaremos-a-buscar-a-tu-mascota-FXR {
    flex-shrink: 0;
    margin: 0rem 1.9rem 6.25rem 0rem;
    max-width: 32.8rem;
    font-weight: 700;
    color: #ffffff;
    font-family: Exo, 'Source Sans Pro';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    line-height: 1.33;
  }
  .frame-61-7Zd {
    margin-bottom: 2.7rem;
    padding: 0.95rem 6.1rem 0.95rem 1rem;
    align-items: center;
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;

    .ellipse-16-e3m {
      height: 3rem;
      background-color: #d9d9d9;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-right: 1.2rem;
      width: 3rem;
    }
    .reportar-mascota-como-perdida-B3h {
      font-weight: 400;
      line-height: 1.4375;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.6rem;
    }
  }
  .frame-62-sx7 {
    margin-bottom: 2.7rem;
    box-sizing: border-box;
    padding: 0.95rem 21.1rem 0.95rem 1rem;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;

    .ellipse-16-Qx3 {
      height: 3rem;
      background-color: #d9d9d9;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-right: 1rem;
      width: 3rem;
    }
    .mis-reportes-kFD {
      flex-shrink: 0;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.4375;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .frame-63-4Wo {
    margin-bottom: 4.9rem;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.95rem 14.05rem 0.95rem 1rem;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    border-radius: 1rem;

    .ellipse-16-Poy {
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-right: 1.15rem;
      width: 3rem;
      height: 3rem;
      background-color: #d9d9d9;
    }
    .reportar-un-problema-j79 {
      flex-shrink: 0;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.4375;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .line-2-eV1 {
    flex-shrink: 0;
    margin: 0rem 0.7rem 6.5rem 0rem;
    width: 35rem;
    height: 0.1rem;
    background-color: #ffffff;
  }
  .frame-64-mJj {
    margin: 0rem 7.3rem 1.3rem 7.3rem;
    padding: 0.5rem 4.55rem 0.5rem 0.5rem;
    display: flex;
    background-color: #ffffff;
    box-sizing: border-box;
    width: calc(100% - 14.6rem);
    align-items: center;
    border-radius: 1rem;
    flex-shrink: 0;

    .ellipse-16-gRh {
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-right: 4.55rem;
      width: 3rem;
      height: 3rem;
      background-color: #d9d9d9;
    }
    .text-RPH {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.6428571429;
      color: #000000;
    }
  }
  .frame-65-Yyh {
    margin: 0 7.3rem;
    padding: 0.5rem 3.3rem 0.5rem 0.5rem;
    width: calc(100% - 14.6rem);
    display: flex;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    align-items: center;
    border-radius: 1rem;

    .ellipse-16-gKD {
      flex-shrink: 0;
      margin-right: 3.3rem;
      width: 3rem;
      height: 3rem;
      background-color: #d9d9d9;
      border-radius: 1.5rem;
    }
    .text-cTm {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.6428571429;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
